<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Rabi's Notebook

My name is Rabi Mbenga. I'm a Student and I'm really excited to learn how to be a data scientist. This is mine notebook.

There are many data science languages but the populare ones are: 
Python
,R
,SAS
,SQL
,MATLAB

There are some data science libraries but each has there specific needs and application. 
We have NumPy, Pandas, Matplotlib, Scikit-learn, Seaborn and many more.

Here's a table with some data science tools 
| Data Science tools|
| ------ |
| Juptyer Notebook |
| RStudio |
| Apache Spark |
| SAS |

Here's some arithmetic expression examples:
2+2 = 4
3-1 = 2
2*2 = 4
6/2 = 3
2 ** 4 = 16
9%4 = 1

In [4]:
# Multiple numbers
2*2

4

In [5]:
# Add numbers 
2+3

5

In [6]:
# Convert 120 minutes to hours
minutes = 120
hours = minutes / 60
print(hours)

2.0

## Objectives

* Objective 1: Learn programming

* Objective 2: Practice programming

* Objective 3: Be good at programming

## Author

My name is **[Rabi Mbenga]**.